*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/
icestorm/icestorm/
iverilog/iverilog/
migen/migen/
nextpnr-ice40/nextpnr/
verilator/verilator/
yosys/yosys/
nmigen/nmigen/
gtkwave/gtkwave/
